{
	"applications": {
		"app1": {
			"type": "php",
			"root": "/home/jaydesai/Work/services/Website1"
		},
		"app2": {
			"type": "php",
			"root": "/home/jaydesai/Work/services/Website2"
		},
		"app3": {
			"type": "php",
			"root": "/home/jaydesai/Work/services/Website3"
		},
		"app4": {
			"type": "php",
			"root": "/home/jaydesai/Work/services/Website4"
		}
	},
	"listeners": {
		"*:9081": {
			"application": "app1"
		},
		"*:9082": {
			"application": "app2"
		},
		"*:9083": {
			"application": "app3"
		},
		"*:9084": {
			"application": "app4"
		}

	}
}
